@{
    ViewData["Title"] = "Início: ";
}

<br />
<br />
<div class="container-fluid" style="display: flex; align-items: center; color: #002454; justify-content: space-around">
    <span class="h3">Categorias</span>
    <hr style="flex-grow: 1; margin-left: 10px; border: 1px solid #002454;" />
</div>
<br />
<br />

<div class="container">
        <h2>Shop by Category</h2>
        <div class="category-grid">
        <a href="https://www.pneustore.com.br/" target="_blank" style="none"><div class="category-item">
                <img src="~/img/cpneus.png" alt="Body Parts">
                <p style="text-decoration:none">Pneus</p>
            </div>
        </a>
        <div class="category-item">
                <img src="headlights-lighting.jpg" alt="Headlights & Lighting">
                <p>Headlights & Lighting</p>
            </div>
            <div class="category-item">
                <img src="brakes-suspension.jpg" alt="Brakes & Suspension">
                <p>Brakes & Suspension</p>
            </div>
            <div class="category-item">
                <img src="engine-drivetrain.jpg" alt="Engine & Drivetrain">
                <p>Engine & Drivetrain</p>
            </div>
            <div class="category-item">
                <img src="tools-garage.jpg" alt="Tools & Garage">
                <p>Tools & Garage</p>
            </div>
            <div class="category-item">
                <img src="interior-parts.jpg" alt="Interior Parts">
                <p>Interior Parts</p>
            </div>
        <div class="category-item">
            <img src="engine-drivetrain.jpg" alt="Engine & Drivetrain">
            <p>Engine & Drivetrain</p>
        </div>
        <div class="category-item">
            <img src="tools-garage.jpg" alt="Tools & Garage">
            <p>Tools & Garage</p>
        </div>
        <div class="category-item">
            <img src="interior-parts.jpg" alt="Interior Parts">
            <p>Interior Parts</p>
        </div>
        <div class="category-item">
            <img src="engine-drivetrain.jpg" alt="Engine & Drivetrain">
            <p>Engine & Drivetrain</p>
        </div>
        <div class="category-item">
            <img src="tools-garage.jpg" alt="Tools & Garage">
            <p>Tools & Garage</p>
        </div>
        <div class="category-item">
            <img src="interior-parts.jpg" alt="Interior Parts">
            <p>Interior Parts</p>
        </div>


        </div>

 
        <button class="shop-now">Shop Now</button>
    </div>



<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/cmotores.png" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-sm-3">
            <img src="~/img/cbaterias.png" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-sm-3">
            <img src="~/img/cpneus.png" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-sm-3">
            <img src="~/img/cretrovisores.png" class="img-responsive" style="width:100%" />
        </div>
    </div> <br /><br />
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/cfreios.png" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-sm-3">
            <img src="~/img/cfiltrodear.png" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-sm-3">
            <img src="~/img/clampadas.png" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-sm-3">
            <img src="~/img/cvolante.png" class="img-responsive" style="width:100%" />
        </div>
    </div> <br /><br />
    <div class="row">
        <div class="col-sm-3">
            <img src="~/img/csuspensao.png" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-sm-3">
            <img src="~/img/coleoselubri.png" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-sm-3">
            <img src="~/img/cescapamento.png" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-sm-3">
            <img src="~/img/cradiadores.png" class="img-responsive" style="width:100%" />
        </div>
    </div> <br /><br />
</div>
<br />
<br />
<br />
<br />
<div class="container-fluid" style="display: flex; align-items: center; color: #002454;">
    <span class="h3">Promoções</span>
    <hr style="flex-grow: 1; margin-left: 10px; border: 1px solid #002454;" />
</div>
<br />
<br />

<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-sm-6 col-md-5.1">
            <img src="~/img/ppneus.png" class="img-responsive" style="width:100%">
        </div>
        <div class="col-sm-6 col-md-5.1 d-flex justify-content-end">
            <img src="~/img/pbaterias.png" class="img-responsive" style="width:100%">
        </div>
    </div>
    <br /><br>
    <div class="row justify-content-between">
        <div class="col-sm-6 col-md-5.1">
            <img src="~/img/pfrete.png" class="img-responsive" style="width:100%">
        </div>
        <div class="col-sm-6 col-md-5.1 d-flex justify-content-end">
            <img src="~/img/pcarros.png" class="img-responsive" style="width:100%">
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<div class="container-fluid" style="display: flex; align-items: center; color: #002454;">
    <span class="h3">Ofertas</span>
    <hr style="flex-grow: 1; margin-left: 10px; border: 1px solid #002454;" />
</div>
<br />
<br />
<section class="produtos">
    <div class="produto">
        <img src="caminho/para/imagem.jpg" alt="Nome do Produto">
        <h2>Nome do Produto</h2>
        <p class="preco">R$ 99,99</p>
        <p class="marca">Marca do Produto</p>
        <button class="detalhes">Detalhes</button>
        <button class="comprar">Comprar</button>
    </div>
    <div class="produto">
        <img src="caminho/para/imagem.jpg" alt="Nome do Produto">
        <h2>Nome do Produto</h2>
        <p class="preco">R$ 99,99</p>
        <p class="marca">Marca do Produto</p>
        <button class="detalhes">Detalhes</button>
        <button class="comprar">Comprar</button>
    </div>
    <div class="produto">
        <img src="caminho/para/imagem.jpg" alt="Nome do Produto">
        <h2>Nome do Produto</h2>
        <p class="preco">R$ 99,99</p>
        <p class="marca">Marca do Produto</p>
        <button class="detalhes">Detalhes</button>
        <button class="comprar">Comprar</button>
    </div>
    <div class="produto">
        <img src="caminho/para/imagem.jpg" alt="Nome do Produto">
        <h2>Nome do Produto</h2>
        <p class="preco">R$ 99,99</p>
        <p class="marca">Marca do Produto</p>
        <button class="detalhes">Detalhes</button>
        <button class="comprar">Comprar</button>
    </div>
    <div class="produto">
        <img src="caminho/para/imagem.jpg" alt="Nome do Produto">
        <h2>Nome do Produto</h2>
        <p class="preco">R$ 99,99</p>
        <p class="marca">Marca do Produto</p>
        <button class="detalhes">Detalhes</button>
        <button class="comprar">Comprar</button>
    </div>
</section>
<br />
<br />
<br />
<br />
<div class="container-fluid" style="display: flex; align-items: center; color: #002454;">
    <span class="h3">Parcerias</span>
    <hr style="flex-grow: 1; margin-left: 10px; border: 1px solid #002454;" />
</div>
<br />
<br />
<section class="parceiros">
    <div class="parceiro">
        <a href="https://www.nissan.com.br/" target="_blank"><img src="~/img/nissan.png" alt="Parceiro 1"></a>
    </div>
    <div class="parceiro">
        <a href="https://www.honda.com.br/" target="_blank"><img src="~/img/honda.png" alt="Parceiro 2"></a>
    </div>
    <div class="parceiro">
        <a href="https://www.jeep.com.br/" target="_blank"><img src="~/img/jeep.png" alt="Parceiro 3"></a>
    </div>
    <div class="parceiro">
        <a href="https://www.toyota.com.br/" target="_blank"><img src="~/img/toyota.png" alt="Parceiro 4"></a>
    </div>
    <div class="parceiro">
        <a href="https://www.toyota.com.br/" target="_blank"><img src="~/img/peugeot.png" alt="Parceiro 5"></a>
    </div>
</section>
<br />
<br />