@{
    ViewData["Title"] = "Início: ";
}

<br<><br/>
<div class="container-fluid" style="display: flex; align-items: center; color: #002454;">
    <span class="h3">Categorias</span>
    <hr style="flex-grow: 1; margin-left: 10px; border: 1px solid #002454;" />
</div><br /><br />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <img src="https://placehold.it/450x320" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-sm-3">
            <img src="https://placehold.it/450x320" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-sm-3">
            <img src="https://placehold.it/450x320" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-sm-3">
            <img src="https://placehold.it/450x320" class="img-responsive" style="width:100%" />
        </div>
    </div> <br /><br />
    <div class="row">
        <div class="col-sm-3">
            <img src="https://placehold.it/450x320" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-sm-3">
            <img src="https://placehold.it/450x320" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-sm-3">
            <img src="https://placehold.it/450x320" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-sm-3">
            <img src="https://placehold.it/450x320" class="img-responsive" style="width:100%" />
        </div>
    </div> <br /><br /> 
    <div class="row">
        <div class="col-sm-3">
            <img src="https://placehold.it/450x320" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-sm-3">
            <img src="https://placehold.it/450x320" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-sm-3">
            <img src="https://placehold.it/450x320" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-sm-3">
            <img src="https://placehold.it/450x320" class="img-responsive" style="width:100%" />
        </div>
    </div> <br /><br /> 
</div>
<br<><br /><br /><br />
<div class="container-fluid" style="display: flex; align-items: center; color: #002454;">
    <span class="h3">Promoções</span>
    <hr style="flex-grow: 1; margin-left: 10px; border: 1px solid #002454;" />
</div>
<br /><br />

<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-sm-6 col-md-5.1">
            <img src="https://placehold.it/950x550" class="img-responsive" style="width:100%">
        </div>
        <div class="col-sm-6 col-md-5.1 d-flex justify-content-end">
            <img src="https://placehold.it/950x550" class="img-responsive" style="width:100%">
        </div>
    </div>
    <br /><br>
    <div class="row justify-content-between">
        <div class="col-sm-6 col-md-5.1">
            <img src="https://placehold.it/950x550" class="img-responsive" style="width:100%">
        </div>
        <div class="col-sm-6 col-md-5.1 d-flex justify-content-end">
            <img src="https://placehold.it/950x550" class="img-responsive" style="width:100%">
        </div>
    </div>
</div>

<br<><br /><br /><br />
<div class="container-fluid" style="display: flex; align-items: center; color: #002454;">
    <span class="h3">Ofertas</span>
    <hr style="flex-grow: 1; margin-left: 10px; border: 1px solid #002454;" />
</div>
<br /><br />





