@{
    ViewData["Title"] = "Início: ";
}


<div class="container">
    <div class="container-fluid" style="padding:30px; display: flex; align-items: center; color: #002454; justify-content: space-around">
        <span class="h3">Categorias</span>
        <hr style="flex-grow: 1; margin-left: 10px; border: 1px solid #002454;" />
    </div>
        <div class="category-grid">
            <div class="category-item">
                <img src="~/img/cpne.png" alt="Body Parts">
                <p>Pneus</p>
            </div>
            <div class="category-item">
                <img src="~/img/cmot.png" alt="Headlights & Lighting">
                <p>Motores</p>
            </div>
            <div class="category-item">
                <img src="~/img/cbateria.png" alt="Brakes & Suspension">
                <p>Baterias</p>
            </div>
            <div class="category-item">
                <img src="~/img/cretrovisor.png" alt="Engine & Drivetrain">
                <p>Retrovisores</p>
            </div>
            <div class="category-item">
                <img src="~/img/csuspens.png" alt="Tools & Garage">
                <p>Suspensão</p>
            </div>
            <div class="category-item">
                <img src="~/img/cfreio.png" alt="Interior Parts">
                <p>Freios</p>
            </div>
        <div class="category-item">
            <img src="~/img/cfiltro.png" alt="Engine & Drivetrain">
            <p>Filtros de Ar</p>
        </div>
        <div class="category-item">
            <img src="~/img/clamp.png" alt="Tools & Garage">
            <p>Lanternas Traseiras</p>
        </div>
        <div class="category-item">
            <img src="~/img/cvolantes.png" alt="Interior Parts">
            <p>Volantes</p>
        </div>
        <div class="category-item">
            <img src="~/img/coleoelubri.png" alt="Engine & Drivetrain">
            <p>Óleos e Lubrificantes</p>
        </div>
        <div class="category-item">
            <img src="~/img/cescapa.png" alt="Tools & Garage">
            <p>Escapamentos</p>
        </div>
        <div class="category-item">
            <img src="~/img/cradiador.png" alt="Interior Parts">
            <p>Radiadores</p>
        </div>


        </div>

 
        <button class="shop-now">Shop Now</button>
    </div>




<br />
<br />
<br />
<br />
<div class="container">
<div class="container-fluid" style="display: flex; align-items: center; color: #002454;">
    <span class="h3">Promoções</span>
    <hr style="flex-grow: 1; margin-left: 10px; border: 1px solid #002454;" />
</div>
<br />
<br />

<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-sm-6 col-md-5.1">
            <img src="~/img/ppneus.png" class="img-responsive" style="width:100%">
        </div>
        <div class="col-sm-6 col-md-5.1 d-flex justify-content-end">
            <img src="~/img/pbaterias.png" class="img-responsive" style="width:100%">
        </div>
    </div>
    <br /><br>
    <div class="row justify-content-between">
        <div class="col-sm-6 col-md-5.1">
            <img src="~/img/pfrete.png" class="img-responsive" style="width:100%">
        </div>
        <div class="col-sm-6 col-md-5.1 d-flex justify-content-end">
            <img src="~/img/pcarros.png" class="img-responsive" style="width:100%">
        </div>
    </div>
</div>
</div>
<br />
<br />
<br />
<br />
<div class="container">
<div class="container-fluid" style="display: flex; align-items: center; color: #002454;">
    <span class="h3">Ofertas</span>
    <hr style="flex-grow: 1; margin-left: 10px; border: 1px solid #002454;" />
</div>
<br />
<br />
<section class="produtos">
    <div class="produto">
        <img src="~/img/ofatuador.png" alt="Nome do Produto">
        <h2>Atuador do câmbio</h2>
        <p class="preco">R$ 86,41</p>
        <p class="marca">Marca: WAYSER</p>
        <button class="detalhes">Detalhes</button>
        <button class="comprar">Comprar</button>
    </div>
    <div class="produto">
        <img src="~/img/ofmotorparc.png" alt="Nome do Produto">
        <h2>Motor Parcial L200 2011</h2>
        <p class="preco">R$ 9.600,00</p>
        <p class="marca">Marca: Mitsubishi</p>
        <button class="detalhes">Detalhes</button>
        <button class="comprar">Comprar</button>
    </div>
    <div class="produto">
        <img src="~/img/ofroda4.png" alt="Nome do Produto">
        <h2>Jogo De Rodas Esportivas Aro 15</h2>
        <p class="preco">R$ 2.220,00</p>
        <p class="marca">Marca: STO.RODAS</p>
        <button class="detalhes">Detalhes</button>
        <button class="comprar">Comprar</button>
    </div>
    <div class="produto">
        <img src="~/img/ofpneu.png" alt="Nome do Produto">
        <h2>Pneu 255X65R17 110H Scorpion</h2>
        <p class="preco">R$ 1.399,90</p>
        <p class="marca">Marca: PIRELLI</p>
        <button class="detalhes">Detalhes</button>
        <button class="comprar">Comprar</button>
    </div>
    <div class="produto">
        <img src="~/img/ofservo.png" alt="Nome do Produto">
        <h2>Servo Freio TOYOTA HILUX</h2>
        <p class="preco">R$ 499,90</p>
        <p class="marca">Marca: BOSCH FREIOS</p>
        <button class="detalhes">Detalhes</button>
        <button class="comprar">Comprar</button>
    </div>
</section>
</div>
<br />
<br />
<br />
<br />
<div class="container">
<div class="container-fluid" style="display: flex; align-items: center; color: #002454;">
    <span class="h3">Parcerias</span>
    <hr style="flex-grow: 1; margin-left: 10px; border: 1px solid #002454;" />
</div>
<br />
<br />

<section class="parceiros">
    <div class="parceiro">
        <a href="https://www.nissan.com.br/" target="_blank"><img src="~/img/nissan.png" alt="Parceiro 1"></a>
    </div>
    <div class="parceiro">
        <a href="https://www.honda.com.br/" target="_blank"><img src="~/img/honda.png" alt="Parceiro 2"></a>
    </div>
    <div class="parceiro">
        <a href="https://www.jeep.com.br/" target="_blank"><img src="~/img/jeep.png" alt="Parceiro 3"></a>
    </div>
    <div class="parceiro">
        <a href="https://www.toyota.com.br/" target="_blank"><img src="~/img/toyota.png" alt="Parceiro 4"></a>
    </div>
    <div class="parceiro">
        <a href="https://www.toyota.com.br/" target="_blank"><img src="~/img/peugeot.png" alt="Parceiro 5"></a>
    </div>
</section>
</div>
<br />
<br />