<link href="~/css/boleto.css" rel="stylesheet" />
@model HayumiWeb.Models.PagamentoViewModel

<div class="container">
    <h2>Escaneie o código de barras para efetuar o pagamento do boleto</h2>
    <div class="codigo-barras">
        <img src="~/img/barc.png" height="50px" alt="Código de Barras">
    </div>
    <p>Ou copie a linha de código digitável</p>
    <div id="linha-digitavel" class="linha-digitavel">
        @Model.CodigoBoleto
    </div>
    <button class="copy-button" onclick="copiarLinhaDigitavel()">Copiar linha de código</button>
    <form method="post" asp-action="PagarPedido" >
        <input type="hidden" name="FormaPagamento" value="Cartão" />
        <input type="hidden" asp-for="PedidoId" value="@Model.PedidoId" />
    <button type="submit" onclick="verificarPagamento()">Verificar pagamento</button>
    </form>
</div>


<script src="~/js/boleto.js"></script>