<div class="container text-center" style="margin-top: 50px;">
    <h1>Pedido Feito!</h1>
    <p>Seu pedido foi realizado com sucesso. </p>

    <!-- Botão para voltar para a página inicial -->
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Voltar para a Home</a>
    <a href="@Url.Action("ExibirPedidos", "Pedido")" class="btn btn-primary">Checar Pedidos</a>
</div>