.product-card button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    margin: 5px 0;
    border: 2px solid;
    padding: 10px 20px;
    width: 100%;
}

.proddetalhes {
    background-color: #FFCC00;
    border: 2px solid #000B54;
    color: #002454;
}

    .proddetalhes:hover {
        background-color: #002454;
        color: #FFCC00;
        border: 2px solid #FFCC00;
    }
.prodcomprar {
    background-color: #002454;
    color: #FFCC00;
}
    .prodcomprar:hover {
        background-color: #FFCC00;
        color: #002454;
        border: 2px solid #002454;
    }

/*Perfil*/

.card {
    margin: 20px auto;
    max-width: 600px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.btn-warning {
    background-color: #f0ad4e;
    color: white;
    border: 2px solid #000000;
}