html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.search-button {
    background-color: #FFCC00;
}

.search-button:hover {
    background-color: #002454;
}
.search-button:hover .search-icon {   
    fill:#FFCC00;
}
.search-icon {
    fill:#FFFFFF;
}
.search-input {
    width: 400px;
}

.ss .btn {
    font-family:Arial;
    font-size:20px;
}

.ss {
    font-family: Arial;
    font-size: 20px;
}

