/* Estilos Globais */
html {
    font-size: 14px;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    min-height: 100vh;
    padding: 0;
}

/* Foco e Atividade nos Botões */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Estilos do Cabeçalho */
.ss {
    background-color: #002454;
    color: #FFCC00;
}

    .ss .btn {
        font-family: Arial;
        font-size: 20px;
    }

.ss {
    font-family: Arial;
    font-size: 20px;
}

/* Estilos do Botão "Entrar" */
#botaoentrar {
    background-color: #FFCC00;
    border-color: #002454;
    width: 90px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #002454;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para a Barra de Pesquisa */
.search-input {
    width: 400px;
}

.search-button {
    background-color: #FFCC00;
}

    .search-button:hover {
        background-color: #002454;
    }

        .search-button:hover .search-icon {
            fill: #FFCC00;
        }

.search-icon {
    fill: #FFFFFF;
}
.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Estilos para Produtos */
.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.produto {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

    .produto img {
        border-radius: 10px;
        max-width: 100%;
        height: auto;
    }

    .produto h2 {
        font-size: 1.2em;
        margin: 10px 0;
        color: #002454;
    }

    .produto .preco {
        color: #002454;
        font-size: 1.1em;
        font-weight: bold;
        margin: 5px 0;
    }

    .produto .marca {
        color: #555;
        font-size: 0.9em;
        margin: 5px 0;
    }

    .produto button {
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em;
        margin: 5px 0;
        border: 2px solid #FFCC00;
        padding: 10px 20px;
        width: 100%;
    }

    .produto .detalhes {
        margin-top: 10px;
        background-color: #FFCC00;
        border: 2px solid #002454;
        color: #002454;
    }

        .produto .detalhes:hover {
            background-color: #002454;
            color: #FFCC00;
            border: 2px solid #FFCC00;
        }

    .produto .comprar {
        background-color: #002454;
        color: #FFCC00;
    }

        .produto .comprar:hover {
            background-color: #FFCC00;
            color: #002454;
            border: 2px solid #002454;
        }

/* Estilos para Parceiros */
.parceiros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.parceiro {
    flex: 1 1 calc(20% - 10px);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .parceiro img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

/* Estilos de Responsividade */
@media (max-width: 768px) {
    .parceiro {
        flex: 1 1 calc(50% - 10px);
    }

    .produto {
        width: 150px;
        padding: 10px;
    }

    .navbar-nav {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: auto;
    }

        .navbar-nav .nav-item {
            margin: 0;
        }

    .search-input {
        width: 90%; 
        font-size: 14px;
    }

    .search-button {
        width: 35px;
        height: 35px;
    }

    #botaoentrar {
        width: 80px;
        height: 40px;
        font-size: 16px;
        margin-right: 0;
    }

    /* Ajuste no Carrinho */
    #carrinho {
        padding: 8px;
        font-size: 18px;
    }
}

@media (max-width: 580px) {
    /* Ocultar elementos originais e exibir o menu */
    .navbar-collapse {
        display: none; /* Ocultar conteúdo da navbar */
    }

    .navbar-toggler {
        display: flex; /* Mostrar o ícone do menu */
        align-items: center;
        justify-content: center;
    }

    .navbar-collapse.show {
        display: flex; /* Mostrar o conteúdo quando o menu é aberto */
        flex-direction: column;
        gap: 15px;
        padding: 10px;
    }

    /* Ajustes de responsividade nos elementos internos */
    .search-form {
        width: 100%;
        flex-direction: column;
        gap: 5px;
    }

    .search-input {
        width: 100%;
    }

    .search-button {
        width: 70%;
    }

    #botaoentrar,
    #carrinho {
        width: 100%;
        text-align: center;
    }
}
/* Estilos para a Tela de Login */
.left-box {
    background-color: #002454;
}

.btn-cadastrar {
    display: inline-block;
    background-color: #FFCC00;
    color: #002454;
    font-weight: bold;
    border: 2px solid #FFCC00;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

    .btn-cadastrar:hover {
        background-color: #002454;
        color: #FFCC00;
    }

input.form-control-lg {
    height: 60px;
}

.btn-entrar {
    background-color: #FFCC00;
    color: #002454;
    font-weight: bold;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
}


.right-box {
    background-color: white;
}

/* Estilos para Categorias */
.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.category-item {
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

    .category-item:hover {
        transform: scale(1.05);
    }

    .category-item img {
        max-width: 100%;
        border-radius: 5px;
    }

    .category-item p {
        margin-top: 10px;
        font-weight: bold;
    }

.shop-now {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .shop-now:hover {
        background-color: #cc0000;
    }

/*Peças */

.product-card {
    border: 1px solid #ddd;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

    .product-card img {
        margin-bottom: 15px;
        border-radius: 8px;
    }

    .product-card h5 {
        font-size: 1.25em;
        margin-bottom: 10px;
    }

    .product-card p {
        margin-bottom: 10px;
    }

    .product-card .price {
        font-size: 1.2em;
        color: #000B54;
    }

/*Carrinho de compras*/
#carrinho {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 2px solid #FFCC00;
    transition: all 0.3s ease;
}

    #carrinho:hover {
        border-color: #FFAA00;
        background-color: #003366; 
    }

    #carrinho i {
        color: #FFCC00;
    }

#cartCount {
    margin-left: 5px;
    color:#000B54;
}
#carrinho:hover #cartCount{
    color: white;
}


